<footer class="footer">
  <nav class="footer__nav">
    <ul class="footer__socials-list">
      <li>
        <a
          class="footer__social-link footer__social-link--telegram"
          href="https://t.me/talkingbun"
          target="_blank"
          rel="noopener noreferrer"
        >
          <svg class="footer__social-icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 70 70">
            <use href="{{ url_for('static', filename='img/tg.svg') }}"></use>
          </svg>
        </a>
      </li>
      <li>
        <a
          class="footer__social-link footer__social-link--github"
          href="https://github.com/asamishinatsu"
          target="_blank"
          rel="noopener noreferrer"
        >
          <svg class="footer__social-icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 70 70">
            <use href="{{ url_for('static', filename='img/github.svg') }}"></use>
          </svg>
        </a>
      </li>
    </ul>
  </nav>
</footer>
